<!DOCTYPE html>
<html>
  <head>
    <title>AriGym</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="MRTとは、人生の生きがい。MRTとは、Moving Rejoice Trigger(動く、喜ぶ、キッカケ）を基盤にお客様一人一人に寄り添った個別パーソナルトレーナーです。" />
    <meta name="Keywords" content="MTR, 人生の生きがい, Moving Rejoice Trigger, 動く 喜ぶ キッカケ, 出張 23パーソナル, 出張 トレーナー, 出張 ジム, 出張 トレーニング" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
